# Windows default autosave extension
*.asv

# png mages
*.png

# tif files
*.tif
*.tiff

# pdf files
*.pdf

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Matlab fits
*.sfit
*_shift_vectors.m

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace
